/** @format */

@import '../../utility_styles/utilities';

.user-read-form {
	@include flex-row(100%, space-around);

	&__input {
		font-size: 24px;
		border-width: 0;
		width: 50px;
		padding: 10px; // caret-color: white;
		border: 1px solid rgba(c(blck), 0.1);
		text-align: center;

		&:focus {
			border-color: rgba(c(blck), 1);
		}
	}
}
